*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

main {
  min-height: 100vh;
  align-items: center;
}

.container {
  width: 960px;
  /* margin-top: 30px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

fieldset {
  padding: 20px;
  border: 2px solid green;
  border-radius: 20px;
}

legend {
  margin-left: 30px;
}

form {
  margin: 30px auto;
  padding: 30px 20px 20px 30px;
  width: 400px;
  height: 250px;
  /* border: 2px solid green;
  border-radius: 20px; */
}

input {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: block;
}
.btn {
  display: block;
  margin: 20px auto;
  padding: 8px 10px;
  color: green;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

.modal {
  position: absolute;
  top: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 500px;
  height: 130px;
  border-radius: 25px;
  display: block;
  border: 2px solid blue;
  background-color: whitesmoke;
}
.hidden {
  display: none;
}

.cancel {
  margin-top: 30px;
  display: inline-block;
  color: red;
  margin-left: 250px;
  margin-bottom: 0;
  background-color: beige;
}
.confirm {
  margin-top: 30px;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 0;
  background-color: beige;
}
.page_image {
  position: absolute;
  top: 100px;
}
.img {
  width: 600px;
}
.greeting {
  margin-bottom: 30px;
  text-align: center;
}
